<configuration>
  <system.webServer>
    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="client/build/index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <!-- API calls reverse-proxied to Node.js on port 3010 -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:3010/api/{R:1}" />
        </rule>

        <!-- Serve static files from client/build -->
        <rule name="Static Files" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}client\build\{R:0}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="client/build/{R:0}" />
        </rule>

        <!-- React SPA fallback -->
        <rule name="React SPA" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="client/build/index.html" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
