.order-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 8px;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.notification-badge {
    margin-left: auto;
}
